<h3 class="text-center m-3">List OF Applicants</h3>
<div class="row">
    <div class="col-4 mb-3">
        <input class="form-control fa fa-search" id="myInput" type="text" placeholder="Search..">
    </div>
</div>
<table class="table table-responsive table-striped table-bordered table-hove table-dark">
    <thead class="thead-dark">
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>MIDDLE NAME</th>
        <th>LAST NAME</th>
        <th>DATE OF BIRTH</th>
        <th>SEX</th>
        <th>AGE</th>
        <th>CLASS</th>
        <th>ADDRESS</th>
        <th>PHONE NUMBER</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody id="tablerow">

        {{#data1}}
        <tr>
            <td>{{ID}}</td>
            <td>{{firstname}}</td>
            <td>{{middlename}}</td>
            <td>{{lastname}}</td>
            <td id="dateformatted">{{dateofbirth}}</td>
            <td>{{sex}}</td>
            <td>{{age}}</td>
            <td>{{class_name}}</td>
            <td>{{address}}</td>
            <td>{{phoneno}}</td>
            <td> <a class="btn btn-sm btn-warning" href="/application/admit/{{ID}}">ADMIT</a></td>
            <td><a class="btn btn-sm btn-danger" href="/application/delete/{{ID}}">DELETE</a></td>
        </tr>
        {{/data1}}









    </tbody>
</table>