<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-7 offset-3">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="{{profileImageUrl}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{firstname}} {{lastname}}</h4>
                    <div>
                        <span>FIRST NAME:</span>
                        <span class="card-text"><b>{{firstname}}</b></span>
                    </div>
                    <div>
                        <span>LAST NAME:</span>
                        <span class="card-text"><b>{{lastname}}</b></span>
                    </div>
                    <div>
                        <span>OTHER NAME:</span>
                        <span class="card-text"><b>{{middlename}}</b></span>
                    </div>
                    <div>
                        <span>ADDRESS:</span>
                        <span class="card-text"><b>{{address}}</b></span>
                    </div>
                    <div>
                        <span>SEX:</span>
                        <span class="card-text"><b>{{sex}}</b></span>
                    </div>
                    <div>
                        <span>AGE:</span>
                        <span class="card-text"><b>{{age}}</b></span>
                    </div>
                    <div>
                        <span>DATE OF BIRTH:</span>
                        <span class="card-text"><b>{{dateofbirth}}</b></span>
                    </div>
                    <div>
                        <span>CLASS:</span>
                        <span class="card-text"><b>{{class_name}}</b></span>
                    </div>
                    <div>
                        <span>PHONE NO:</span>
                        <span class="card-text"><b>{{phoneno}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>